.logo {
  background-color: rgba(0, 0, 139, 0.4) ;
  border: 2px, solid, greenyellow;
  border-radius: 20px;
  display: inline-block;
  height: 190px;
  width: 322px;
  position: relative;
  justify-items: center;
  
  
}

.logo .text-wrapper {
  color: greenyellow;
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  font-weight: 900;
  top: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  
  
  
}
