.logo {
  background-color: darkblue;
  
  border-radius: 20px;
  display: inline-block;
  height: 190px;
  width: 322px;
  position: relative;
  justify-items: center;
  
  
}

.logo .text-wrapper {
  color: greenyellow;
  font-family: "Noto Sans-Black", Helvetica;
  font-size: 36px;
  font-weight: 900;
  top: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  
  
  
}
